<!DOCTYPE html>
<html lang="">
<head>
{% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
</head>
<style>

</style>

<body>
{% for project in projects %}
<a href="{% url 'home' %}">
<img style="position: absolute;left: 50px;top: 40px;" src="{{ project.image.url }}"height="40" width="40" alt="">
</a>
{% endfor %}

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a  href="{% url 'home' %}">Главная</a>
  <a  href="{% url 'restaurant' %}">Рестораны</a>
</div>

<div class="btn☰">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ </span>
</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
</html>